.game {
  font-family: Arial, Helvetica, sans-serif;
}

.game-info {
  margin-top: 10px;
}

.game-field {

}

.cell {
  margin: -1px 0 0 -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid gray;
}

.symbol {
  font-size: 20px;
  line-height: 1.2;
}

.symbol--o {
  color: green;
}

.symbol--x {
  color: red;
}

.cell--win {
  background-color: rgba(255, 0, 0, 0.1);
}

.game-controls {
  display: flex;
  gap: 20px;
}

.game-control {
  opacity: 1;
  pointer-events: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-control:disabled {
  opacity: 0.5;
  pointer-events: none;
}
